<div id="Eligibility"></div>
<div class="container-fluid ybgyello eligibility">
    <div class="row">
        <h3> THE ONLY SKILLS YOU'LL NEED?</h3>
    </div>
</div>


<div class="container-fluid">

    <div class="row blackbg boxedData">
        <div id="color-overlay"></div>
        <div class="container ">
            <div class="col-md-6 wow zoomIn" data-wow-delay=".25s">
                <p class="gcs">GOOD COMMUNICATION SKILLS</p>
            </div>
            <div class="col-md-6 wow zoomIn" data-wow-delay=".5s">
                <p>ABILITY TO WORK WITH COMPUTERS </p>
            </div>


        </div>
        <div class="container " style="margin-top:30px">
            <div class="col-md-6 wow zoomIn" data-wow-delay=".75s">
                <p class="gcs">ACCOUNTING BASICS </p>
            </div>
            <div class="col-md-6 wow zoomIn" data-wow-delay="1s">
                <p>A SHARP MIND </p>
            </div>
        </div>

    </div>
</div>