<div class="container-fluid fixed ">
  <div class="row top-menu bgcolor">
    <div class="container">
      <div class="row">
        <nav class="navbar navbar-default top-menu-bar" role="navigation">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">
                <img src="assets/logo/one.png">
              </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                <li>
                  <a href="#">INSIGHT</a>
                </li>
                <li>
                  <a href="#">CURRICULUM</a>
                </li>
                <li>
                  <a href="#"> HOW LONG ?</a>
                </li>
                <li>
                  <a href="#">ELIGIBILITY</a>
                </li>
                <li>
                  <a href="#">POST TRAINING</a>
                </li>
                <li>
                  <a href="#">SIGN UP</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>

    </div>
  </div>

     <div class="row bgcolor">

   
  <div class="container ">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="bgshadow bgbox1"></div>
        <div class="bgshadow bgbox2"></div>
        <div class="bgshadow bgbox3"></div>
      </div>
    </div>
  </div>
</div>
 

</div>

<div class="container-fluid block-slider">

    <div class="row top1 bgcolor">
        <div class="col-md-12">
            <div style=" height: 400px">
                <carousel [sources]="imageSources" [config]="config"></carousel>
              </div>
        </div>
      </div>
</div>
