#Curriculum {
    padding-top: 50px;
    background: #fff;
}

.curriculm {
    padding-top: 50px;
    padding-bottom: 70px;
}

.curriculm,
.curriculm2 {
    background-color: #fff;
}

.curriculm2 {
    padding-left: 8%;
}

.curbox {
    letter-spacing: 3px;
    width: 24%;
    height: 190px;
    padding: 10px;
}

.curbox svg {
    fill: #FFC814;
}

.curbox p {
    text-align: center
}