 .hlbgtwo svg {
     fill: #FFC814;
     height: 136px;
     width: 136px;
 }
 
 .hlbg {
     text-align: center;
     padding: 15px;
 }
 
 .hlbgtwo {
     text-align: center;
     background-color: #fff;
     padding-top: 180px;
     padding-bottom: 180px;
 }
 
 .hlbg {
     background-color: rgb(241, 241, 241);
 }
 /* #HowLong {
     margin-top: 152px;
 } */