/* You can add global styles to this file, and also import other style files */
.carousel-nav-list__item--current{
    display: none !important;
}
.carousel-nav-list__item--current {
    background-color: #fff !important;
}
body{
      background-color: rgb(241, 241, 241);
}